.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: auto;
	cursor: pointer;
  	padding: 4px 15px;
  	height: 32px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgb(29, 29, 29);
	font-size: 1em;
	color: white;
	font-family: 
	'Merriweather';
	border:2px solid rgb(29, 29, 29);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: rgb(61, 61, 61);
    border: 1px solid white;
}
 
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 15px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:3px solid orange;
	border-bottom:3px solid orange;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.deleteFilter {
	display: flex;
    width:auto;
    border-radius: 15px;
    background-color: rgb(233, 195, 146);
    justify-content: space-between;
    padding: 2px;
    padding-left:5px;
	position: absolute;
	right: 300px;
	top: 80px;
}
.deleteFilter button {
    background-color: rgb(214, 140, 55);
    width: 20px;
    border-radius: 15px;
    font-size: 13px;
    border: 1px solid rgb(214, 140, 55);
    margin-left: 5px;
}
.deleteFilter button:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(252, 185, 110);
}