/* Import de la fuente */
 
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300&display=swap');
* {
    margin:0;
    padding:0;
}

.fondo {
    background-image: url('../../resources/home.jpg');;
    width: 100%;
    max-height: 100%;
    background-size: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    padding: 30px;
    backdrop-filter: blur(3px);
    border-bottom-style:double;
    border-top-style:double;
}

/* Titulo con animacion */
.LogoTitle {
    text-shadow: 0 0 5px black, 0 0 20px black;
    font-size: 25pt;
    font-family: 'Lobster';
    color: white;
}

.flick1{
    animation: parpadear 3s infinite backwards;
}
.flick2{
    animation: parpadear 4.5s infinite backwards;
}
.flick3{
    animation: parpadear 3.5s infinite backwards;
}
.flick4{
    animation: parpadear 3.8s infinite backwards;
}

@keyframes parpadear {
    to {
        color: rgba(255, 255, 255, 0.719);
        text-shadow: 0 0 2px black;
    }
}

.creationButton {
    margin-top: 7px;
}

.creationButton a{
    text-decoration: none;
    border-radius: 13px;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Merriweather';
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(29, 29, 29);

}

.creationButton a:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(61, 61, 61);
}

.wrap-toggle {
    background-color: rgb(29, 29, 29);
    display: flex;
    border-radius: 15px;
    padding: 3px;
    margin-top:8px;
    color:white;
    font-family: 'Merriweather';
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 23px;
    border-radius: 50px;
    background-color: rgb(56, 56, 56);
    cursor: pointer;
    border: 1px solid black;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 1px;
    top: 1px;
    left: 1px;
    border-radius: 22px;
    background-color: white;
    transition: all 0.4s;
}

.wrap-toggle input[type='checkbox']:checked + .switch::after {
    transform: translateX(25px);
    background-color: rgb(29, 29, 29);
}

.wrap-toggle input[type='checkbox']:checked + .switch {
    background-color: orange;
}

.offscreen {
    position: absolute;
    left: -9999px;
}